body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, rgba(7,21,82,1) 0%, rgba(0,128,128,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  text-transform: uppercase;
  color: #fff;
}

h2{
  color: #fff
}



.image-main{
  width: 30%;
  min-width: 340px;
  background: linear-gradient(to left, rgb(255 8 8) 0%, rgb(220 185 58 / 85%) 100%);
}

.image-container{
  margin: 0 auto;
  width: 275px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.image-container img{
  width: 100%;
}

#main{
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width:1200px){
  #main{
    flex-direction: column;
  }
}

input[type="search"]{
  padding: 10px;
  border-radius: 5px;
  border: 5px solid #3210ea;
}