body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image-main{
  width: 30%;
  min-width: 340px;
  background-color: #053dcc8f;
}

.image-container{
  margin: 0 auto;
  width: 275px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container img{
  width: 100%;
}

#main{
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}